<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
现金管家是国内最活跃的现金贷、信用卡交流社区。

现金管家由一批资深的金融和互联网行业青年发起，致力于提升资金流动的效率，让有信用的人获取更大的财富。

### 移动客户端

立即体验现金管家客户端，直接扫描页面右侧二维码。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
