<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>新手入门</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*

## 新手必读

1.现金管家24小时有管理员轮班维持秩序，请不要发布广告。
一旦涉及广告一律禁言，严重者对相应广告词汇做屏蔽处理。

2.现金管家内不可发布违法违规信息。
一旦涉及违法违规信息，一律禁言，严重者注销其账户。

3.良好的社区氛围是现金管家最大的魅力所在，优质的内容输出是现金管家最大的价值所在。
希望各位问友积极参与到文章区，贡献自己的才华，并遵守以上的三点注意事项，否则官方有权进行删帖、禁言或者封号处理。
商务合作请联系现金管家客服，谢谢！

*/
        })) %>
      </div>
    </div>
  </div>
</div>
